<div class="content">
    <h1>Svatební dary</h1>
    <p>
        Zde je pár návrhů na svatební dary, které bychom si přáli. Pokud ti něco padlo do oka, dárek si rezervuj,
        abychom neriskovali, že něco dostaneme dvakrát. Pokud si však koupi již Rezervovaného dárku rozmyslíš, uvolni
        jej, aby ho případně mohl koupit jiný host.
    </p>

    <h2>Jak na to?</h2>
    <p>
        Je to naprosto jednoduché. Stačí kliknout na tlačítko <i>Rezervovat</i>. Vyskočí na tebe tabulka s krátkým kódem,
        který si prosím napiš někam na papírek a neztrať ho. Budeš ho potřebovat, pokud budeš chtít rezervaci zrušit.
        Máš opsaný kód? Paráda, klikni na tlačítko <i>Potvrdit</i> a je to!
    </p>
    <p>
        Pokud chceš naopak tebou zarezervovaný svatební dar uvolnit ostatním svatebčanům, klikni na tlačítko uvolnit
        a zadej kód, který máš napsaný na papírku. Věřím, že sis kód poctivě opsal a uschoval na bezpečné místo.
    </p>

    <div class="wrapper">
        {% include 'gift_frame.html' %}
    </div>

    <p>
        Víme, že dárků, které chceme, není moc. Pokud máš problém s výběrem, nebo si vybrat ani nechceš,
        rádi přijmeme finanční příspěvek na svatební cestu, nebo na zařízení domácnosti.
    </p>
</div>