<div class="content">
    <h1>Svatební dary</h1>
    <p>
        Zde je pár návrhů na svatební dary, které bychom si přáli. Pokud ti něco padlo do oka, dárek si rezervuj,
        abychom ho nedostali hned dvakrát. Pokud si však koupi již rezervovaného dárku rozmyslíš, uvolni jej, aby
        is ho případně mohl rezervovat někdo další.
    </p>
    <p>
        Víme, že dárků, které chceme, není moc. Pokud máš problém s výběrem, nebo si vybrat ani nechceš,
        rádi přijmeme finanční příspěvek na svatební cestu, nebo na zařízení domácnosti.
    </p>

    <h2>Jak na to?</h2>
    <p>
        Je to naprosto jednoduché. Stačí kliknout na tlačítko <i>Rezervovat</i>. Vyskočí na tebe tabulka s krátkým kódem,
        který si prosím napiš někam na papírek a neztrať ho. Budeš ho potřebovat, pokud budeš chtít rezervaci zrušit.
        Máš opsaný kód? Paráda, klikni na tlačítko <i>Potvrdit</i> a je to!
    </p>
    <p>
        Pokud chceš naopak tebou zarezervovaný svatební dar uvolnit ostatním svatebčanům, klikni na tlačítko uvolnit
        a zadej kód, který máš napsaný na papírku. Věřím, že sis kód poctivě opsal a uschoval na bezpečné místo. Pokud
        jsi však lajdák a kód sis neopsal, styď se a o uvolnění daru požádej Davida.
    </p>

    <div class="wrapper">
        <!-- Paste all gifts using flask -->
        {% for item in gifts %}
            <div class="gift-frame">
                <div class="text-wrapper">
                    <div>
                        <h1>{{item.title}}</h1>
                        <h3 id="{{item.name}}_state" class="claim-state"></h3>
                        <p>{{item.desc}}</p>
                    </div>
                    <div class="buttons">
                        <a class="gift-button"  href="{{item.url}}" target="_blank">Dostupné zde</a>
                        <a id="{{item.name}}_button" class="gift-button"></a>
                    </div>
                </div>
        
                <script>
                    updateGiftState("{{item.name}}", JSON.parse("{{item.claimed|tojson}}"));
                </script>
        
                <div class="img-wrapper">
                    <img src="{{item.img}}" loading="lazy">
                </div>
            </div>
        {% endfor %}
    </div>
</div>