{% for item in gifts %}
    <div class="gift-frame">
        <div class="text-wrapper">
            <div>
                <h1>{{item.title}}</h1>
                <h3 id="{{item.name}}_state" class="claim-state"></h3>
                <p>{{item.desc}}</p>
            </div>
            <div class="buttons">
                <a class="gift-button"  href="{{item.url}}" target="_blank">Dostupné zde</a>
                <a id="{{item.name}}_button" class="gift-button"></a>
            </div>
        </div>

        <script>
            updateGiftState("{{item.name}}", JSON.parse("{{item.claimed|tojson}}"));
        </script>

        <div class="img-wrapper">
            <img src="{{item.img}}">
        </div>
    </div>
{% endfor %}
