<div class="content">
    <h1>Svatební dary</h1>
    <p>
        Zde je pár návrhů na svatební dary, které bychom si přáli. Pokud ti něco padlo do oka, dárek si rezervuj,
        abychom neriskovali, že něco dostaneme dvakrát. Pokud si však koupi již zamluveného dárku rozmyslíš, uvolni
        jej, aby ho případně mohl koupit jiný host.
    </p>

    <h2>Jak na to?</h2>
    <p>
        Je to naprosto jednoduché. Stačí kliknout na tlačítko <i>Zamluvit</i> a je to! Vyskočí ti tabulka s krátkým
        kódem. Ten si prosím napiš někam na papírek a neztrať ho, protože pokud budeš dárek chtít uvolnit, budeš ho potřebovat.
    </p>
    <p>
        Pokud chceš naopak tebou dárek uvolnit ostatním svatebčanům, klikni na tlačítko uvolnit a zadej kód, který máš napsaný
        na papírku, který je určitě v bezpečí na tobě známém místě.
    </p>

    <div class="wrapper">
        {% include 'gift_frame.html' %}
    </div>

    <p>
        Víme, že dárků, které chceme, není moc. Pokud máš problém s výběrem, nebo si vybrat ani nechceš,
        rádi přijmeme finanční příspěvek na svatební cestu, nebo na zařízení domácnosti.
    </p>
</div>